# API keys and secrets
.env
.env~

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# TypeScript build info files
*.tsbuildinfo

# Ignore built ts files
dist

# Docker folder to help skip auth refreshes
.docker

bundle