; TODO(b/411429188): re-enable and migrate once our private GCP project is up
; @gemini-code:registry=https://us-west1-npm.pkg.dev/gemini-code-dev/gemini-code/
; //us-west1-npm.pkg.dev/gemini-code-dev/gemini-code/:always-auth=true
