; TODO(b/411429188): re-enable and migrate once our private GCP project is up
# @gemin-code-dev:registry=https://us-west1-npm.pkg.dev/kkb-dev/gemini-code/
# //us-west1-npm.pkg.dev/kkb-dev/gemini-code/:always-auth=true