; TODO(b/411429188): move this to an artifact registry in the official gemini-code gcp project
@google:registry=https://us-west1-npm.pkg.dev/kkb-dev/gemini-code/
//us-west1-npm.pkg.dev/kkb-dev/gemini-code/:always-auth=true